POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=inventory_db
ENVIRONMENT=production
DEBUG=false
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:80
VITE_API_URL=http://localhost:8000